@tailwind base;
@tailwind components;
@tailwind utilities;

.footer::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  /* height: 290px; */
  height: 50%;
  background: #cb9a6f;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.custom-shadow {
  box-shadow: -2px -1px 9px 0px #00000040;
}
.single-line {
    text-wrap: nowrap;
}